**/.env*
**/*.pem
**/*.key
**/*.crt
**/.ssh
**/.aws
**/.config/gcloud
**/.kube
**/ssl
**/.git
**/node_modules
**/output
**/coverage
**/test-results
**/playwright-report
**/blob-report
**/.auth
**/.mongodb-binaries
**/mongodb-memory-server
**/*.log
**/*.tgz
